
@import '../../components/variables.css';

.root {
  background: #4367B2;
  text-align: center;
  color: white;

  h1 {
    margin: 0;
    font-size: 5em;
  }

  p {
    font-size: 3em;
  }

  img {
    height: 300px;
  }
}

.firstCol {
  margin-bottom: 30px;

  button {
    border-radius: 5px;
    width: 50%;

  }
}

.details {
  padding: 2% 6%;
  background: #e9ebee;
  border-style: solid;
  border-color: grey;
  border-width: 1px 0 0 0;

  .alignRight {
    text-align: right;
  }

  .alignLeft {
    text-align: left;
  }

  p {
    font-size: 1.25em;
  }

  img {
    width: 75%;
  }
}
