
@import '../../components/variables.css';

.jumbotron {
  padding: 7% 0 4% 0;
  background: #4367B2;
  text-align: center;
  color: white;
  margin-bottom: 0;

  h1 {
    margin: 0;
    font-size: 5em;
  }

  p {
    font-size: 3em;
  }

  img {
    height: 50%;
    width: 50%;
  }
}

.firstCol {
  margin-bottom: 30px;

  button {
    border-radius: 5px;
    width: 50%;

  }
}

.summary {
  padding: 1% 10%;
}

.details {
  padding: 2% 6%;
  background: #e9ebee;
  border-style: solid;
  border-color: grey;
  border-width: 1px 0 0 0;

  .alignRight {
    text-align: right;
  }

  .alignLeft {
    text-align: left;
  }

  p {
    font-size: 1.25em;
  }

  img {
    width: 75%;
  }
}
