@import '../variables.css';

.root {
  margin-bottom: 0;
  border-radius: 0;
  background: var(--earth-blue);
  color: var(--white);
  border: none;
  padding: 0.5% 0;

  .white, .white:visited, .white li a, .white li a:visited {
    color: var(--white);
  }

  .white:hover, .white li a:hover {
    color: #D3D3D3 ;
  }

  img {
    height: 30px;
    display: inline;
    margin-right: 10px;
  }
}
