@import './variables.css';

.container,
.container-fluid {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.rotate {
  transform: rotate(90deg);
}

.redHighlight {
  color: red;
}

.blueHighlight {
  color: blue;
}
