
@import '../../components/app.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5%;

  @media only screen
  and (min-device-width : 300px)
  and (max-device-width : 667px) {
    padding-top: 20%;
  }
}
